@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  background: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: white;
}

/* Loader */
.loader_container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #10B981 94%, #10ca0a00) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}

.loader::before {
  content: "Loading...";
  line-height: 1em;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

/* Data Loader */
.dataLoader_container {
  width: 100%;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataLoader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #10B981;
  --_m: conic-gradient(#00ff004d 10%, #00ff00),
    /* Green conic gradient */
    linear-gradient(#008000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* Add this to your global CSS */
@media print {
  table {
    page-break-inside: avoid;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
}